<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.school.mapper.SchClassMapper">
    
    <resultMap type="SchClassVo" id="SchClassResult">
        <result property="classId"    column="class_id"    />
        <result property="gradeId"    column="grade_id"    />
        <result property="className"    column="class_name"    />
        <result property="capacity"    column="capacity"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="schGrades" javaType="schGrades">
            <result property="gradeId"    column="sg_grade_id"    />
            <result property="gradeName"    column="sg_grade_name"    />
            <result property="createBy"    column="sg_create_by"    />
            <result property="createTime"    column="sg_create_time"    />
            <result property="updateBy"    column="sg_update_by"    />
            <result property="updateTime"    column="sg_update_time"    />
            <result property="remark"    column="sg_remark"    />
        </association>
    </resultMap>

    <sql id="selectSchClassVo">
        select sc.*,
        sg.grade_id AS sg_grade_id, sg.grade_name AS sg_grade_name,
        sg.create_by AS sg_create_by,  sg.create_time AS sg_create_time,
        sg.update_by AS sg_update_by, sg.update_time AS sg_update_time,
        sg.remark AS sg_remark
        from sch_class sc
        LEFT JOIN sch_grades sg ON sc.grade_id = sg.grade_id
    </sql>

    <select id="selectSchClassList" parameterType="SchClass" resultMap="SchClassResult">
        <include refid="selectSchClassVo"/>
        <where>  
            <if test="gradeId != null "> and sc.grade_id = #{gradeId}</if>
            <if test="className != null  and className != ''"> and sc.class_name like concat('%', #{className}, '%')</if>
            <if test="capacity != null "> and capacity = #{capacity}</if>
        </where>
    </select>
    
    <select id="selectSchClassByClassId" parameterType="Long" resultMap="SchClassResult">
        <include refid="selectSchClassVo"/>
        where sc.class_id = #{classId}
    </select>
        
    <insert id="insertSchClass" parameterType="SchClass" useGeneratedKeys="true" keyProperty="classId">
        insert into sch_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">grade_id,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="capacity != null">capacity,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">#{gradeId},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSchClass" parameterType="SchClass">
        update sch_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="gradeId != null">grade_id = #{gradeId},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteSchClassByClassId" parameterType="Long">
        delete from sch_class where class_id = #{classId}
    </delete>

    <delete id="deleteSchClassByClassIds" parameterType="String">
        delete from sch_class where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>