<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.school.mapper.SchStudentMapper">
    
    <resultMap type="SchStudentVo" id="SchStudentResult">
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentSex"    column="student_sex"    />
        <result property="studentBirthday"    column="student_birthday"    />
        <result property="studentPhone"    column="student_phone"    />
        <result property="studentAddress"    column="student_address"    />
        <result property="classId"    column="class_id"    />
        <result property="className"    column="class_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="schClassVo" javaType="com.ruoyi.school.domain.vo.SchClassVo" >
            <result property="className"    column="sc_class_name"   />
            <association property="schGrades" javaType="com.ruoyi.school.domain.SchGrades">
                <result property="gradeName" column="sg_grade_name"></result>
            </association>
        </association>
    </resultMap>

    <sql id="selectSchStudentVo">
        select ss.*,sc.class_name AS sc_class_name,sg.grade_name AS sg_grade_name
        from sch_student ss
        LEFT JOIN sch_class sc ON ss.class_id = sc.class_id
        LEFT JOIN sch_grades sg ON sc.grade_id = sg.grade_id
    </sql>

    <select id="selectSchStudentList" parameterType="SchStudent" resultMap="SchStudentResult">
        <include refid="selectSchStudentVo"/>
        <where>  
            <if test="studentName != null  and studentName != ''"> and ss.student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentSex != null  and studentSex != ''"> and ss.student_sex = #{studentSex}</if>
            <if test="studentBirthday != null "> and ss.student_birthday = #{studentBirthday}</if>
            <if test="studentPhone != null  and studentPhone != ''"> and ss.student_phone = #{studentPhone}</if>
            <if test="studentAddress != null  and studentAddress != ''"> and ss.student_address = #{studentAddress}</if>
            <if test="classId != null "> and ss.class_id = #{classId}</if>
<!--            <if test="schClass != null and schClass.className != null and schClass.className != ''"> and sc.class_name like concat('%', #{schClass.className}, '%')</if>-->
        </where>
    </select>

    <select id="selectSchStudentListDto" parameterType="SchStudentDto" resultMap="SchStudentResult">
        <include refid="selectSchStudentVo"/>
        <where>
            <if test="studentName != null  and studentName != ''"> and ss.student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentSex != null  and studentSex != ''"> and ss.student_sex = #{studentSex}</if>
            <if test="studentBirthday != null "> and ss.student_birthday = #{studentBirthday}</if>
            <if test="studentPhone != null  and studentPhone != ''"> and ss.student_phone = #{studentPhone}</if>
            <if test="studentAddress != null  and studentAddress != ''"> and ss.student_address = #{studentAddress}</if>
            <if test="classId != null "> and ss.class_id = #{classId}</if>
            <if test="gradeId != null "> and sg.grade_id = #{gradeId}</if>
        </where>
    </select>
    
    <select id="selectSchStudentByStudentId" parameterType="Long" resultMap="SchStudentResult">
        <include refid="selectSchStudentVo"/>
        where ss.student_id = #{studentId}
    </select>

    <select id="selectStudentTeachers" parameterType="schStudentDto" resultType="SchTeacher">
        SELECT st.teacher_id,st.teacher_name,st.teacher_phone
        FROM sch_teacher st
        JOIN sch_teacher_class tc ON st.teacher_id = tc.teacher_id
        WHERE tc.class_id = (SELECT class_id FROM sch_student WHERE student_id = #{studentId})
    </select>
        
    <insert id="insertSchStudent" parameterType="SchStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into sch_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="studentSex != null">student_sex,</if>
            <if test="studentBirthday != null">student_birthday,</if>
            <if test="studentPhone != null">student_phone,</if>
            <if test="studentAddress != null">student_address,</if>
            <if test="classId != null">class_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="studentSex != null">#{studentSex},</if>
            <if test="studentBirthday != null">#{studentBirthday},</if>
            <if test="studentPhone != null">#{studentPhone},</if>
            <if test="studentAddress != null">#{studentAddress},</if>
            <if test="classId != null">#{classId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSchStudent" parameterType="SchStudent">
        update sch_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="studentSex != null">student_sex = #{studentSex},</if>
            <if test="studentBirthday != null">student_birthday = #{studentBirthday},</if>
            <if test="studentPhone != null">student_phone = #{studentPhone},</if>
            <if test="studentAddress != null">student_address = #{studentAddress},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteSchStudentByStudentId" parameterType="Long">
        delete from sch_student where student_id = #{studentId}
    </delete>

    <delete id="deleteSchStudentByStudentIds" parameterType="String">
        delete from sch_student where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>